body {
    font-family: "Ubuntu Mono", monospace;
    background-color: #2E3436; /* Dark gray */
    color: #FFFFFF; /* White */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    background-color: #000000; /* Black */
    border: 2px solid #4E9A06; /* Green */
    border-radius: 5px;
    padding: 20px;
    width: 600px;
}

.prompt {
    color: #4E9A06; /* Green */
    font-weight: bold;
}

.command {
    margin-top: 10px;
    color: #FFFFFF; /* White */
}

.command-output {
    background-color: #000000; /* Black */
    border: 1px solid #4E9A06; /* Green */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    white-space: pre-wrap;
    color: #FFFFFF; /* White */
}
